/* Colors
-------*/
:root{
  --background-color: hsl(82, 31.4%, 93.1%);
  --post-background: hsl(82, 34%, 97%);
  --text: #143642;
}

/* Fonts
------*/

:root{
  --primary-text: 'Merriweather';}


@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-LightItalic.ttf')  format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
font-family: 'Merriweather';
src: url('../fonts/Merriweather-Italic.ttf')  format('truetype');
font-weight: 500;
font-style: italic;
}


@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
font-family: 'Merriweather';
src: url('../fonts/Merriweather-BoldItalic.ttf')  format('truetype');
font-weight: 700;
font-style: italic;
}


@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

/* Shadows */

:root {
  --shadow-color: 82deg 11% 54%;
  --shadow-elevation-low:
    0.3px 0.5px 0.5px hsl(var(--shadow-color) / 0.61),
    0.4px 0.8px 0.8px -1.9px hsl(var(--shadow-color) / 0.46),
    1.1px 2.1px 2.2px -3.9px hsl(var(--shadow-color) / 0.32);
  --shadow-elevation-medium:
    0.3px 0.5px 0.5px hsl(var(--shadow-color) / 0.64),
    0.6px 1.2px 1.2px -1.3px hsl(var(--shadow-color) / 0.52),
    1.9px 3.9px 4px -2.6px hsl(var(--shadow-color) / 0.41),
    5.3px 10.7px 10.9px -3.9px hsl(var(--shadow-color) / 0.29);
  --shadow-elevation-high:
    0.3px 0.5px 0.5px hsl(var(--shadow-color) / 0.53),
    0.8px 1.6px 1.6px -0.5px hsl(var(--shadow-color) / 0.48),
    1.6px 3.1px 3.2px -1px hsl(var(--shadow-color) / 0.44),
    2.8px 5.6px 5.7px -1.5px hsl(var(--shadow-color) / 0.4),
    4.9px 9.8px 10px -1.9px hsl(var(--shadow-color) / 0.36),
    8.2px 16.3px 16.7px -2.4px hsl(var(--shadow-color) / 0.32),
    12.9px 25.9px 26.5px -2.9px hsl(var(--shadow-color) / 0.27),
    19.5px 39px 39.9px -3.4px hsl(var(--shadow-color) / 0.23),
    28.3px 56.5px 57.8px -3.9px hsl(var(--shadow-color) / 0.19);
}