body{
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 4rem;
  font-family: var(--primary-text);
  font-size: 1em;
  line-height: 1.4;
  background: var(--background-color);
  color: var(--text);
}

nav {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #eff3e8;
  background: #143642;
  max-width: 100%;
}

nav a:link    { color: #eff3e8 }  /* unvisited links */
nav a:visited { color: #eff3e8 }  /* visited links   */
nav a:hover   { color: #0f8b8d }  /* user hovers     */
nav a:active  { color: #eff3e8 }  /* active links    */

nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 100%;
  text-align:center;
  -webkit-padding-start: 0px;
}

nav ul li {
display: inline-block;
margin: 5px 20px 5px 20px;
text-align: center;
}

.site-nav li {
    margin:0 0 0 1.5em;
    vertical-align:top
}

a.mainlogo {
  padding-top: 50px;
  margin: 0;
}
a.mainlogo > img {
  width: 100vw;
  background: hsl(44, 86.7%, 73.5%);
  margin: 0;
  display: block;
}
a.mainlogo:hover > img {
  /* background: hsl(44, 92%, 83.5%); */
  filter: saturate(1.1) brightness(1.1);
}

a:link    { color: hsl(181, 80.8%, 25%);
           transition: 100ms ease-in color;}  /* unvisited links */
a:visited { color: hsl(181, 80.8%, 32%) }  /* visited links   */
a:hover   { color: hsl(181, 100%, 36%);
            transition: 100ms ease-in color; }  /* user hovers     */
a:active  { color: hsl(181, 80.8%, 32%) }  /* active links    */

header, main, .post {
  max-width: 65rem;
/*  border-radius: 5px; */
  box-sizing: border-box;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: auto;
}
header {
  margin-bottom: 0;
  padding-bottom: 0;
}
main.posts {
  margin-top: 0;
  padding-top: 0;
  display: flex;
  /* align-items: flex-end; */
  align-content: flex-end;
  flex-wrap: wrap;
}
section.post {
  align-self: flex-start;
  width: 20rem;
  background-color: var(--post-background);
  box-shadow: var(--shadow-elevation-low);
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.post-title {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 4.2em;
}

a.post-thumbnail, 
a.post-thumbnail:visited {
  text-decoration: none;
  color: var(--text);
  width: 100%;
  transition: 100ms ease-in color;
}
.post-thumbnail > img {
  margin: auto;
  height: 130px;
}

a.post-thumbnail:hover { 
  color: hsl(181, 100%, 36%);
  transition: 100ms ease-in color;
}
img.post-image {
  box-sizing: border-box;
  border-width: 1px;
  border-color: hsl(82, 34%, 97%);
  border-style: solid;
  transition: 100ms ease-in border-color;
}
section.post:hover img.post-image {
  border-color: hsl(181, 100%, 36%);
  transition: 100ms ease-in border-color;
}

section.post:hover a.title-link,
section.post:hover a.post-thumbnail { 
  color: hsl(181, 100%, 36%);
  transition: 100ms ease-in color;
}

div.post-summary {
  min-height: 8rem;
  margin: 0;
}

p.posted {
  position: relative;
  right: 0;
  text-align: right;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 300;
}

.author {
  margin-top: 2rem;
  font-size: 0.8rem;
}

.comments {
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: 2px solid var(--text);
}

.pingbacks {
  margin-left: 10px;
  margin-bottom: 2rem;
}
.pingbacks a {
  font-weight: 300;
}

div.comment-meta {
  display: flex;
}
div.commenter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 0.8rem;
  margin: 0;
}
div.commenter > p {
  margin: 0;
}
.comment-meta > img, .author > img {
  padding-right: 0.5rem;
  flex-shrink: 0;
}
.comment {
  font-weight: 300;
  padding-left: calc(0.5rem + 42px);
  margin-bottom: 2rem;
}
.comment-date {
  font-size: 0.7rem;
  /* margin-top: 0; */
}

h1 {
  font-weight: 900;
}



blockquote {
  background-color: hsl(44, 86.7%, 73.5%);
  font-style: italic;
  font-weight: 300;
  padding: 2em 3em;
  margin: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #143642;
    margin: 1em 0;
    padding: 0;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  align-content: flex-end;
  text-align: right;
  color: #eff3e8;
  background: #143642;
  padding-top: 0.6em;
}
footer > p {
  font-size: 0.7rem;
  padding-right: 1em;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
    max-width: 100%;
}

.video-container {
  padding: 56.25% 0 0 0;
  position: relative;
}
iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}


#recipe {
  padding: 3rem 2rem;
  border: 2px solid var(--text);
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
